/*
!.bash_profile
!.bashrc
!.config
/.config/*
!.config/Code
/.config/Code/*
!.config/Code/User
/.config/Code/User/*
!.config/Code/User/settings.json
!.config/kdeglobals
!.config/kglobalshortcutsrc
!.config/khotkeysrc
!.config/konsolerc
!.config/kwinrc
!.config/kwinrulesrc
!.config/plasma-org.kde.plasma.desktop-appletsrc
!.config/plasma.emojierrc
!.config/plasmarc
!.config/plasmashellrc
!.config/dconf/
!.config/gtk-3.0/
!.config/gtkrc*
!.fonts/
!.local/share/konsole
!.local/share/plasma
!.git-completion.bashrc
!.gitconfig
!.gitmessage
!.tmux.conf
!.vimrc
!scripts/
